body {
  background-image: url("Picture5.jpg");
}

nav {
  background-image: url("Picture5.jpg"),
    linear-gradient(to bottom, turquoise, teal);
  background-color: #1010a8;
  color: blanchedalmond;
  font-size: 1.5em;
  gap: 2rem;
  margin: 0;
  padding: 1rem;
  text-align: right;
}

a {
  background-color: whitesmoke;
}

a:hover {
  background-color: yellowgreen;
}

header {
  background-image: linear-gradient(to bottom, turquoise, teal);
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  height: 18rem;
  padding: 0.25rem;
  text-align: center;
}

h2 {
  background-image: linear-gradient(to bottom, lightblue, teal);
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  height: 100%;
  margin: 0;
  padding: 2rem;
  text-align: right;
}

section h3 {
  align-items: center;
  background-color: whitesmoke;
  border-right: 2px solid #000046;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
}

p {
  align-items: baseline;
  padding: rem;
}

div {
  align-items: baseline;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.main {
  align-items: center;
  background-image: linear-gradient(to bottom, turquoise, teal);
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300px;
  padding: 4.59rem;
  width: 300px;
}

p {
  font-style: italic;
  font-size: 12px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.box1,
.box2,
.box3,
.box4 {
  background-image: linear-gradient(to bottom, turquoise, teal);
  border: 2px solid blue;
  font-size: 17px;
  height: 150px;
  padding: 4rem;
  width: 250px;
}

footer {
  align-items: center;
  color: #000046;
  float: right;
  font-size: 20px;
  gap: 1rem;
  padding: 0.0153px;
}

@media screen and (min-width: 480px) {
  section h3 {
    border-right: 2px solid #000046;
    top: 32rem;
    width: 150px;
  }
}
