body {
  background-color: seagreen;
}

header {
  border: 0.15rem solid seagreen;
  color: black;
  height: 100%;
}

nav {
  align-items: center;
  color: #000046;
  display: flexbox;
  float: right;
  font-size: 1.5rem;
  padding: 0.0153px;
}

h1 {
  display: block;
  margin: 0.011rem;
  padding: 0;
}

h2 {
  background-color: powderblue;
  border: 0.15rem solid powderblue;
  height: 100%;
  margin: 0;
  padding: 3.5rem;
  text-align: center;
}

h3 {
  align-items: center;
  background: whitesmoke;
  border-right: 1px solid #000046;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: center;
  margin-right: 12rem;
  width: 170px;
}

div {
  align-items: right;
  background: lavenderblush;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: 100%;
  flex-wrap: wrap;
}

.main {
  height: 300px;
  width: 300px;
}

* {
  box-sizing: border-box;
}

.box1,
.box2,
.box3,
.box4 {
  display: flex;
  flex-direction: row;
  flex: 50%;
  font-size: 17px;
  height: 150px;
  text-align: center;
  width: 250px;
}

footer {
  align-items: center;
  color: #000046;
  display: flexbox;
  float: right;
  font-size: 1.5rem;
  padding: 0.0153px;
}
