header {
  background-color: rgb(146, 11, 11);
  border: 0.15rem solid rgb(146, 11, 11);
  color: black;
  height: 17rem;
}

nav {
  align-items: center;
  color: #000046;
  display: flexbox;
  float: right;
  font-size: 1.5rem;
  padding: 0.0153px;
}

h1 {
  display: block;
  margin: 0.011rem;
  padding: 0;
}

h2 {
  background-color: powderblue;
  border: 0.15rem solid powderblue;
  height: 7rem;
  margin: 0;
  padding: 3.5rem;
  text-align: center;
}
